nav {
    width: 100%;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 50px;
    background-color: #50364c;
    height: auto;
    font-family: 'Roboto Mono', monospace;
  }
  
  a {
    color: #2d998a;
    font-family: 'Roboto Mono', monospace;
  }
  
  a:hover {
    color: #2d998a;
    text-decoration: none;
  }
  
  nav li {
    display: inline-block;
    padding: 26px 0;
    width: 50%;
    font-family: 'Roboto Mono', monospace;
    /* text-align: center; */
  }
  
  ul {
    /* padding-left: 0px; */
    display: flex;
    align-items: center;
  }
  
  @media only screen and (max-width: 100%) {
    #cur-score, #top-score {
      font-size: 2rem;
    }
  }