.title {
    width: 100%;
    text-align: right;
    font-size: 2rem;
    color: #50364c;
    margin-bottom: 50px;
    padding-left: 3%;
    padding-right: 3%;  
    font-family: 'Roboto Mono', monospace;
  }